-------  General Styles -------



body {
  background-color: #15323F;
  font-family: "Arial Rounded MT Bold";
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
  color: #B3BFC4;
  font-family: "Futura"
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ACBABB;
  font-family: "Futura";
}

p {
  line-height: 1.5em;
  margin: 0;
  color: #556161;
  font-family:"Futura";
  padding: 10px;
  text-shadow: 0.5px 0.5px 0 #323434;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #7B8282;
  color: #ACBABB;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */
  .group {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    flex: 1;
    padding: 10px;
  }

  .item-double {
    display: flex;
    flex: 2;
  }

 .idea-group {
  display: flex;
  flex-direction: column;  
}

.idea-top, .idea-bottom {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.host-group {
  display: flex;
  flex-direction: column;  
  padding: 10px;
}

.host-group h2 {
  padding: 10px;
}

.host-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.host-item-double img {
  display: flex;
  padding: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #95A9A4;
  padding: 20px 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 15vw;
  color: #707070;

}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #616666;
  text-decoration: none;
  margin: 0 20px 0 0;
  font-family: "Futura";
}

header nav ul li a:hover {
  color: #616666;
  text-decoration: none;

}

header nav {
  display: flex;
  justify-content: center;
  

}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li:last-child a {
  margin-right: 0;
}
/* -------  Search Form ------- */
form {
  border: 2px solid #81BDBD;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


form label {
  font-family:"Futura";
  font-weight: bold; 
}

form select,
form input {
  font-family: "Futura";
  border: none;
  border-radius: 30px; 
  padding: 10px 30px;
  width: 100%;
  transition: background-color 0.5s; 
  margin-bottom: 20px;
  background-color: #EEEEEE; */
}

form input:hover {
  background-color: #8AA5A5; 
}


form button {
  background-color: #736DFB;
  color: #fff;
  font-size: 24px;
  padding: 20px 30px;
  border: none;
  border-radius: 60px; 
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s; 
  font-family:"Futura";
}

form button:hover {
  background-color: #574EED; 
}


.form-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
}
.form-row label {
  flex: 1;

}

.form-row input, .form-row select {
  flex: 1;
}


/* -------  Footer ------- */

footer {
  background-color: #707070;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
  header {
    justify-content: space-between;
    flex-direction: row;
  }

  form {
    flex-direction: row;
    justify-content: space-between;
    

  }
 
  .form-row {
     flex-direction: column;
  }

 .group {
  flex-direction: row;
 }

 .item-double p {
  display: flex;
  justify-content: center;
  flex-direction: column;
 }

  .idea-top, .idea-bottom {
    flex: 1;
    flex-direction: row;
    
    
  }
  .idea1, .idea2, .idea3, .idea4 {
    flex: 1;
    padding: 10px;
    
  }

  .host-group {
    flex-direction: row;
    
  }

  .host-item {
    min-width: 48.5%;
    padding: 10px;
    font-family: "Futura";
    font-size: 18px;
    color: #474D4D;
    

  }

  .logo {
    font-size: 72px;
  }
}
